<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout2">

<div class="card" layout:fragment="content">

    <div class="card">
        <div class="card-header">
            Board Read
        </div>
        <div class="card-body">
            <div class="input-group mb-3">
                <span class="input-group-text">Bno</span>
                <input type="text" name="bno" class="form-control" readonly
                       th:value="${dto.bno}"  >
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Title</span>
                <input type="text" name="title" class="form-control" readonly
                       th:value="${dto.title}"   >
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Writer</span>
                <input type="text" name="writer" class="form-control"  readonly
                       th:value="${dto.writer}">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">RegDate</span>
                <input type="text" name="regDate" class="form-control" readonly
                       th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" >
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">ModDate</span>
                <input type="text" name="modDate" class="form-control" readonly
                       th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}">
            </div>

            <div class="input-group">
                <span class="input-group-text">Content</span>
                <textarea class="form-control" aria-label="With textarea" name="content" rows="4">[[${dto.content}]]</textarea>
            </div>

            <div class="my-4">
                <div class="my-4">
                    <div class="float-end">
                        <button type="button" class="btn btn-primary" th:onclick="|modify(${dto.bno})|">Modify</button>
                        <button type="button" class="btn btn-secondary" th:onclick="|moveList()|">List</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--end card-->

        <div class="card">
            <div class="card-header">

            </div>

            <div class="card-body">
                <div class="input-group mb-3">
                    <span class="input-group-text">Replyer</span>
                    <input type="text" name="replyer" class="form-control">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">ReplyText</span>
                    <input type="text" name="replyText" class="form-control">
                </div>
                <div  class="input-group mb-3">
                    <button class="btn btn-primary" onclick="registerReply()">Reply Register</button>
                </div>
            </div>
            <div class="card-footer">

            </div>


    <!--Reply card-->
    <div class="card">
        <div class="card-header">Replies</div>
        <div class="card-body">
            <ul class="list-group replyUL">


            </ul>
        <div class="card-body"><!--댓글과 페이징버튼 멀어지게하려고 태그하나 넣음-->

        </div>

            <ul class="pagination"><!-- paging bootstrap 붙여넣기-->
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>

        </div>
        </div>
</div>
</div>
<th:block  layout:fragment="script"><!--block는 외부 화면에서 안보임-->

    <script th:inline="javascript">
        function modify(bno){

            const page = [[${pageRequestDTO.page}]]
            const size = [[${pageRequestDTO.size}]]
            const type = [[${pageRequestDTO.type}]]
            const keyword = [[${pageRequestDTO.keyword}]]

            let searchQuery = ''

            if(type && keyword){
                searchQuery += `&type=${type}&keyword=${keyword}`
            }

            self.location=`/board/modify?bno=${bno}&page=${page}&size=${size}`+searchQuery

        }

        function moveList(){

            const page = [[${pageRequestDTO.page}]]
            const size = [[${pageRequestDTO.size}]]
            const type = [[${pageRequestDTO.type}]]
            const keyword = [[${pageRequestDTO.keyword}]]

            let searchQuery = ''

            if(type && keyword){
                searchQuery += `&type=${type}&keyword=${keyword}`
            }

            self.location=`/board/list?page=${page}&size=${size}` + searchQuery

        }

    </script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script th:inline="javascript">
        const bno = [[${dto.bno}]]
        let replyPage = 1
        let replySize = 10

        function makeListAndPaging(replyPageResponse){
            const dtoList = replyPageResponse.dtoList

            replyPage = replyPageResponse.page
            size = replyPageResponse.size

            console.log(dtoList)

            let str = "";

            for (const reply of dtoList){//배열로 가져오기
                console.log(reply)
                str += "<li class='list-group-item d-flex justify-content-between align-items-center\'>"
                str += `<div class="replyBox" data-rno="${reply.rno}"><span>${reply.rno}</span><span class="rtext">${reply.replyText}</span>
                <button class="btn btn-sm btn-warning" onclick="modifyReply(this)">수정</button></div>`
                str +=  "</li>"

            }
            console.log(str)
            document.querySelector(".replyUL").innerHTML = str //우리가 정의한 str을 list-group에 innerHTML로 끼워준다.

            //paging
            const pagination = document.querySelector(".pagination")
            let pageStr = ""

            //prev
            if(replyPageResponse.prev){
                pageStr += `<li class="page-item"><a class="page-link" href="javascript:getList(${replyPageResponse.start-1})" tabindex="-1">Previous</a></li>`
            }
            //num
            for(let i = replyPageResponse.start; i<= replyPageResponse.end; i++){
                pageStr += `<li class="page-item ${i==replyPageResponse.page?"active":""} "><a class="page-link" href="javascript:getList(${i})" tabindex="-1">${i}</a></li>`
            }
            //next
            if(replyPageResponse.next){
                pageStr += `<li class="page-item"><a class="page-link" href="javascript:getList(${replyPageResponse.end+1})" tabindex="-1">Next</a></li>`
            }

            pagination.innerHTML = pageStr
        }

       async function getList(pageNum){

            const response = await axios.get(`/replies/list/${bno}?page=${pageNum}`)
           const replyPageResponse = await response.data

           console.log(replyPageResponse)
            makeListAndPaging(replyPageResponse)
        }

        // ---------------------register-----------------------------
        function registerReply(){

            const replyObj = {bno:bno,
                replyer: document.querySelector("input[name='replyer']").value,
                replyText: document.querySelector("input[name='replyText']").value
            }
            async function registerAjax(){
                const response = await axios.post("/replies", replyObj)
                const replyPageResponse = await response.data
                makeListAndPaging(replyPageResponse)
                replyer: document.querySelector("input[name='replyer']").value=""
                replyText: document.querySelector("input[name='replyText']").value="";
            }
            registerAjax();

        }

        <!------------------modify----------------------->
        let cloneReply = null
        let targetLi = null

        function modifyReply(ele){

            const targetDiv = ele.closest(".replyBox")
            const currentTargetLi = ele.closest("li")

            if(targetLi === null){
                targetLi = currentTargetLi
            }else if(targetLi !== currentTargetLi){
                //alert("기존의 댓글 수정 강제 취소")

                targetLi.querySelector("div").remove()
                targetLi.appendChild(cloneReply)

                targetLi = currentTargetLi
            }

            cloneReply = targetDiv.cloneNode(true)


            const replyText = targetDiv.querySelector(".rtext").innerHTML
            const rno = targetDiv.getAttribute("data-rno")
            //댓글의 번호와 댓글 원본 내용
            //console.log(rno, replyText)

            const modifyForm = `<div><input type="text" class="editText" value="${replyText}">
<button onclick="modifyReplySend(this)">수정</button>
<button onclick="deleteReply()">삭제</button>
<button onclick="cancelModifyReply(this)">취소</button> </div>`

            targetLi.innerHTML = modifyForm

        }

        function cancelModifyReply(ele){

            ele.closest("div").remove()

            //targetLi의 안쪽 element 삭제
            targetLi.appendChild(cloneReply)

        }

        //-----------delete----------------------

        function deleteReply(){
            const rno = cloneReply.getAttribute("data-rno")

            async function sendDeleteReply(){
                const response = await axios.delete(`/replies/${bno}/${rno}?page=${replyPage}&size=${replySize}`)
                //목록 데이터를 반환하는 부분 필요
                const replyPageResponse = await response.data

                alert("댓글 삭제완료");
                console.log(replyPageResponse)

            makeListAndPaging(replyPageResponse)
            }
            sendDeleteReply()
        }

        //-----------modifySend------------------
        function modifyReplySend(ele){
            const rno = cloneReply.getAttribute("data-rno")
            const replyText =  document.querySelector(".editText").value

            //{rno:rno, replyText:replyText}
            const replyObj = {rno, replyText, bno}

            async function updateReply() {

                const response = await axios.put(`/replies/${bno}/${rno}?page=${replyPage}&size=${replySize}`, replyObj)
                const replyPageResponse = await response.data

                alert("댓글이 수정되었습니다.")
                console.log(replyPageResponse)

                makeListAndPaging(replyPageResponse)
            }
            updateReply()

        }






        getList(-1)


    </script>
</th:block>