<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout2">

<div class="card" layout:fragment="content">
    <div class="card-header">
        Board Register
    </div>

    <div class="card-body">
        <form th:action="@{/diary/register}" method="post">
            <div class="input-group mb-3">
                <span class="input-group-text">Title</span>
                <input type="text" name="title" class="form-control" placeholder="Title">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Writer</span>
                <input type="text" name="writer" class="form-control" placeholder="Writer">
            </div>

            <div class="input-group">
                <span class="input-group-text">Content</span>
                <textarea class="form-control" aria-label="With textarea" name="content" rows="4"></textarea>
            </div>

            <div class="input-group">
                <span class="input-group-text">#</span>
                <span contenteditable="true" type="text"  class="form-control tagInput" ></span>
            </div>

            <div class="my-4">
                <div class="float-end hiddens">
                    <button type="submit" class="btn btn-primary" >Submit</button>
                    <button type="result" class="btn btn-secondary">Reset</button>
                </div>
            </div>
        </form>
    </div>
    <style>
        .uploadResult {
            width: 100%;
            background-color: gray;
        }

        .uploadResult ul {
            display: flex;
            flex-flow: row;
            justify-content: center;
            align-items: center;
        }

        .uploadResult ul li {
            list-style: none;
            padding: 10px;
        }

        .uploadResult ul li img {
            width: 100px;
        }
    </style>

    <style>
        .bigPictureWrapper {
            position: absolute;
            display: none;
            justify-content: center;
            align-items: center;
            top:0%;
            width:100%;
            height:100%;
            background-color: gray;
            z-index: 100;
        }

        .bigPicture {
            position: relative;
            display:flex;
            justify-content: center;
            align-items: center;
        }
    </style>

    <div class="card">
        <div class="col-lg-12 card-body">
            <div class="panel panel-default">

                <div class="panel-heading">File Attach</div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="form-group uploadDiv">
                        <input type="file" name='uploadFile' multiple>
                    </div>

                    <div class='uploadResult'>
                        <ul>

                        </ul>
                    </div>


                </div>
                <!--  end panel-body -->

            </div>
            <!--  end panel-body -->
        </div>
        <!-- end panel -->
    </div>
    <!-- /.row -->

</div>

<th:block layout:fragment="script">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script th:inline="javascript">

        const inputFile = document.querySelector("input[name='uploadFile']")


        document.querySelector("button[type='submit']").addEventListener("click",function(e){

            e.preventDefault()
            e.stopPropagation()

            const liTags = document.querySelectorAll(".uploadResult ul li")

            let str =""

            for(let i = 0; i < liTags.length; i++){

                var jobj = liTags[i]
                console.log(jobj)

                str += "<input type='hidden' name='pictures["+i+"].fileName' value='"+jobj.getAttribute('data-filename')+"'>";
                str += "<input type='hidden' name='pictures["+i+"].uuid' value='"+jobj.getAttribute('data-uuid')+"'>";
                str += "<input type='hidden' name='pictures["+i+"].savePath' value='"+jobj.getAttribute("data-path")+"'>";
                str += "<input type='hidden' name='pictures["+i+"].idx' value='"+ i+"'>";

            }

            //console.log(str);
            const targetDiv = document.querySelector(".hiddens")

            targetDiv.innerHTML += str

            const hashTags = document.querySelector(".tagInput").innerHTML.split(",")

            if(hashTags && hashTags.length > 0 && hashTags[0].trim() !== ''){
                let tagStr =''
                for(let i = 0; i < hashTags.length; i++){
                    tagStr += "<input type='hidden' name='tags["+i+"]' value='"+ hashTags[i]+"'>"
                }
                targetDiv.innerHTML += tagStr
            }

            document.querySelector("form").submit()

        },false)



        inputFile.addEventListener("change",function(e){

            var formData = new FormData()

            var files = inputFile.files

            for(var i = 0; i < files.length; i++){

               // console.log(files[i])

                formData.append("uploadFiles", files[i]);

            }

            async function uploadData() {

                const response = await axios.post('/uploadAjax', formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                })

                const data = response.data

                showUploadFile(data)

            }

            uploadData()

        },false)


        const uploadUL = document.querySelector(".uploadResult ul")

        function showUploadFile(arr){

            // console.log('--------------------------------')
            // console.log(arr)

            let str = "";

            for(let i = 0; i < arr.length; i++){

                const obj = arr[i];
               // console.log(obj)

                var fileCallPath =  encodeURIComponent( obj.savePath+ "/s_"+obj.uuid +"_"+obj.fileName)
                //한글 깨지는 문제 해결을 위해 사용, 타임리프 기능으로 대체 가능

                str +=
                    `<li data-path=${obj.savePath} data-uuid=${obj.uuid} data-filename=${obj.fileName} ><div>
                  <span>${obj.fileName}</span>
                 <button type='button' data-file=${fileCallPath} data-type='image' class='btn btn-warning btn-circle'><i class='fa fa-times'></i></button><br>
                 <img src='/display?fileName=${fileCallPath}'>
                 </div>
                 </li>`

            }

            uploadUL.innerHTML += str


        }

    </script>

</th:block>